* {padding: 0 ; margin: 0;}

@font-face{
	font-family: philosopher;
	src: url('philosopher.regular.ttf');
} 

body {
	background: #D3D3D3;
}

header {
	background: linear-gradient(rgb(94, 91, 92), rgb(50, 50, 50)) repeat scroll 0% 0% rgb(94, 91, 92);
    background-color: rgb(94, 91, 92);
    background-image: linear-gradient(rgb(94, 91, 92), rgb(50, 50, 50));
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
	border-bottom: 1px solid rgb(17, 17, 17);
	height: 26px;
	line-height: 26px;
	padding: 0px 100px;
	z-index: 1;
	position: relative;
}

header nav ul li {
	display: block;
	font-size: 20px;
	color: white;
}

aside {
	padding-left: 100px;
	padding-right: 150px;
	
	}

h1 {font-size: 50px;}
h2 {font-size: 40px;}
h3 {font-size: 30px;}
h4 {font-size: 25px;}
h5 {font-size: 17px;}
p {font-weight: bold;}


#setting {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 150px;	
}

li.sexybutton:hover {
	border: 1px solid #B8B8B8;
	border-bottom: 4px solid #B8B8B8;
}

li.sexybutton {
	color: black;
	border: 1px solid white;
	padding: 5px 10px;
	border-radius: 6px;
	background: white;
	
	display: inline;
	text-align: center;
	font-weight: bold;
	margin: 10px;
	float: right;
	font-size: 18px;
}

.triangle {
	background-image:url('../img/triangle.png');
}

.text-alert {color: red;}

.OneBorder {
	width: 100%;
	background: #F3F3F3; 
	height: 127px;	
	border: 2px solid black;
	border-radius: 10px;
	padding:  10px;
}

.TwoBorder {
	background: white;
	width: 100%;
	border: 2px solid black;
	border-radius: 10px;
}

button.ContenBorder {
	border: 2px solid black;
	border-radius: 10px;
	width: 40%;	
	background: #E06666;
	margin: 3px;
	padding: 10px;
	font-weight: bold;
	color: white;
	font-size: 17px;

}

button.ContenBorder:hover {
	border: 2px solid red;
}

li.add {
	display: inline;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	background: white;
	border: 2px solid black;
	margin: 4px;
	float: right;
	font-weight: bold;
	font-size: 20px;
}

li.add:hover {
	background: black;
	color: white;
}

.overlay {
	z-index: 10px;
	position: relative;
	width: 300px;
	background: white; 
	border: 2px solid black;
	padding: 20px;
	}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -130px;
}	